/* HEADER */
.header {
  height: 64px;
  background: #1F2A33;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
  color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.menu-btn {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10;
}

.menu-btn span {
  height: 3px;
  width: 100%;
  background-color: #1FB6D5;
  border-radius: 2px;
  display: block;
}


.brand-name {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 260px;
  height: 100vh;
  background: #1F2A33;
  padding: 20px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.close-btn {
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 28px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  padding: 12px 0;
  color: #CBD5E1;
  text-decoration: none;
  font-size: 16px;
}

.sidebar nav a:hover {
  color: #1FB6D5;
}


/* LEFT GROUP */
.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* Right section */
.header-right {
  display: flex;
  align-items: center;
}

/* Profile icon */
.profile-icon {
  font-size: 22px;
  text-decoration: none;
  color: #1FB6D5;
  cursor: pointer;
}

/* Login text (when not logged in) */
.login-link {
  text-decoration: none;
  color: #1FB6D5;
  font-size: 16px;
}



.logout-btn {
  background: none;
  border: none;
  padding: 12px 0;
  color: #CBD5E1;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.logout-btn:hover {
  color: #EF4444;
}

